.kennel {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.locations{
    margin-top: 3em;
}

.animals{
    margin-top: 3em;
}

.employees{
    margin-top: 3em;
}
.owners{
    display:flex;
    margin-top: 3em;
    justify-content: space-between;
}
.animal{
    margin-top:3em;
}
.employee{
    margin-top:3em;
}
.location{
    margin-top:3em;
}
.owner{
    margin-top:3em;
}
.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 10px 0;
}
.employeeButton {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 10px 0;
}
.animalForm{
    margin-top: 3em;
}
.employeeForm{
    margin-top: 3em;
}
.ownerForm{
    margin-top: 3em;
}
.ownerButton {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0 10px 0;
}
.h3{
    margin-top: 3em;
}